<img src="<%=url%>"/>
<form method="post" action='/resize/uploads/<%=name%>'
	<h1>Width</h1>
	<%=width%>
	<h1>Height</h1>
	<%=height%>
	<input type='number' name='width'/>
	<input type='number' name='height'/>
	<input type='submit' value='resize'/>

</form>